.aside {
	padding-left: 0;
	padding-right: 0;
	overflow-y: auto;
	height: calc(100vh - #{toRem(101)});
	width: toRem(265);

	&-minimize {
		.main-nav {
			.navbar-brand {
				width: toRem(70);

				.logo-maximize {
					display: none;
				}

				.logo-minimize {
					display: block;
				}

				.brand-toggle {
					transform: rotate(180deg);
				}
			}
		}

		.aside {
			width: toRem(70);

			.navbar-nav {
				.nav-link {
					.menu-text {
						display: none;
					}
				}
			}
		}

		.main-content {
			padding-left: toRem(90);
		}
	}

	.navbar-nav {
		width: 100%;

		.nav-link {
			color: $body-color;
			padding-left: toRem(26);
			padding-right: toRem(15);
			line-height: toRem(24);
			height: toRem(40);

			&:hover,
			&:focus,
			&:active,
			&.active {
				background-color: $primary;
				color: $white;
			}

			.menu-text {
				display: inline-block;
				padding: 0 0 0 toRem(10);
			}
		}

		.dropdown {
			&-menu {
				border: 0 none;
				padding: 0 0 0 toRem(15);
				position: static;
			}

			&-item {
				color: lighten($body-color, 20%);
				padding: toRem(8) toRem(15);

				&:hover,
				&:focus,
				&:active {
					background-color: $blue-10;
					color: lighten($body-color, 20%);
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {
	.aside {
		height: calc(100vh - #{toRem(111)});

		.navbar-nav {
			.nav-link {
				.menu-text {
					display: inline-block;
				}
			}
		}
	}
}
