.card-columns {
	.exercise-card {
		overflow: hidden;
		height: 315px;

		.card-img {
			height: 177px;
		}

		.card-title {
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
		}
	}

	@include media-breakpoint-up(lg) {
		column-count: 4;
	}
}
