.dashboard-top-card {
	background-color: $light-blue;
	.card-number {
		color: $blue;
	}
	.card-text {
		color: $black;
	}
}

.top-card-container {
	margin-bottom: 25px;
}

.chart-header {
	background-color: $light-blue;
}
.card-text-center {
	text-align: center;
	color: $black;
	font-size: 20px;
}
