// Search box
.search-box-with-icon {
	position: relative;

	.search-icon {
		position: absolute;
		top: 10px;
		left: 10px;
	}

	.clear-btn {
		position: absolute;
		right: 0;
	}

	.form-control {
		padding-left: 35px;
		padding-right: 50px;
	}
}

// additional-field
.additional-field {
	.remove-btn-container {
		position: absolute;
		top: -12px;
		right: -12px;

		.btn-remove {
			background-color: $white;
			width: 28px;
			height: 28px;
			padding: 0;
			border-radius: 15px;

			&:hover {
				background-color: $danger;
			}
		}

	}
}

