.section {
	&__wrapper {
		padding-bottom: toRem(30);
		padding-top: toRem(30);
	}
}

@include media-breakpoint-up(lg) {
	.section {
		&__wrapper {
			padding-bottom: toRem(60);
			padding-top: toRem(60);
		}
	}
}
