.title-wrapper {
	bottom: 0;
	left: 0;
	font-size: 24px;
	color: $white;
}
.page-wrapper {
	margin-top: -16px;
	margin-left: -15px;
	margin-right: -15px;
}
.image-size {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.static-home {
  .custom-control {
	padding-left: 0;
	padding-top: 0.5rem;
  }

  .custom-control-input {
	opacity: 1;
  }
}
