.top-0 {
  top: 0;
}

.start-0 {
  left: 0;
}

.opacity {
  &-75 {
    opacity: .75;
  }
  &-50 {
    opacity: .50;
  }
  &-25 {
    opacity: .25;
  }
}

.top-nav {
  justify-content: flex-end;
  background-color: $dark-blue;
  padding: 0;
  color: white;

  a {
    color: $white;
  }
}

.fix-middle {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}
